html, body{
	 font-family: 'Gruppo' !important;
	 background-color: #323232;
}

.jumbotron {
	padding: 0px;
	margin: 0 30px 0 30px;
	}

.jumbotron img{
	max-width: 100%; 
	display:block; 
	height: auto;
	margin: auto
}

#featuredProducts img, #behindTheScenes img {

	max-width: 60%;
	margin-top: 20px;
	padding: 10px;
	background-color: #FFF
	
}

#behindTheScenes img{
	max-height: 60%;
}
#featuredProducts, #behindTheScenes{
	margin: 0 30px 0 30px;
	border: 1px solid black;
	background-color: #2d2d2d;
}
.header{
	margin: 0 30px 0 30px;
	color: #FFF;
	margin-top: 30px;
}
.featuredProduct{
	text-align: center;
	color: #FFF;
}

.main-footer{
	text-align: center;
	color: #FFF;
	padding: 30px;
}

.angle {
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
		-o-transform: skew(20deg);
}

.hoverContent {
	z-index: 10000;
	transition: width 300ms;
	transition-timing-function: ease-in;
}

.container{
	background-color: #FFF;
	max-width: 1500px;
}